/* flexbox */
/* ------- */
.contflex{
   
    display: flex;
    background: rgb(201, 61, 178);
    height: 200px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;

}

.itemflex{
    display: flex;
    justify-content: center;
    background: rgb(5, 247, 255);
    width: 30px;
    height: 30px; 
    align-items: center;
}

.contflex .itemflex:nth-child(2n + 1){ 
    background-color: rgb(9, 255, 0);
}


/* .contflox */

.contflox{
display: flex;
justify-content: space-around;
background: rgb(245, 241, 0) ;
flex-direction: row;
flex-wrap: wrap;

}

.contflox div {
    display: flex;
    background: red;
    width: 20px;
    height: 20px;
    margin: 10px;
}

    .itemflox:nth-child(4n + 3){
    display: flex;
    background: rgb(139, 20, 219);
    margin: 10px;
    justify-content: center;
} 

.itemflox:nth-child(4n + 4){
    display: flex;
    background: rgb(139, 20, 219);
    margin: 10px;
    justify-content: center;
} 

/* grid */

.container {
    display: grid;
    background: rgb(59, 250, 59);
    height: 400px;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.item {
    background: blue;
    border: 2px;

}

.container .item:nth-child(1){
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .item:nth-child(2){
    display: flex;
    grid-column: 2 / 3;
    grid-row:  2 / 3;
    justify-content: center;
    align-items: center;
}

.container .item:nth-child(3){
    display: flex;
    grid-column: 3 / 4;
    grid-row:  3 / 4;
    justify-content: center;
    align-items: center;
}

.container .item:nth-child(4){
    display: flex;
    grid-column: 4 / 5;
    grid-row:  2 / 3;
    justify-content: center;
    align-items: center;
}  

.container[
    this 
]