
/* hover */
h1 {
    color: aqua;
}

h1:hover{
    color: blue;

}

/* :nth-child */
div p:nth-child(2) {
    color: rebeccapurple;
    background-color: blanchedalmond;
}

/* ::before */
p::before {
    content: "👉👌";
}

/* ::after */
p::after {
    content: "🙆‍♀️";
}

/* ::first-letter */
h2::first-letter{
    color: purple;
}

/* ::placehorder */
::placeholder {
    color: tomato;
}

